@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Poppins:wght@400;500;700&family=Tiro+Tamil&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.primery-color{
  color: #289BDE;
}

.primery-bg {
  background: #289BDE;
}

.navbar-nav a:hover{
  text-decoration: underline;
}

  /* Start For errow sign */
.fa-arrow-right {
  position: relative;
  animation: moveit 2s linear 0s infinite alternate;
}

@keyframes moveit {
  from {
    left: 0;
  }

  to {
    left: 10%;
  }
}

 /* End For errow sign */

.submit-btn{
  transition: 0.5s;
  border: 1px solid#289BDE;
}
.submit-btn:hover{
  background: #289BDE;
  color: #f1f3ff;
}

 /* Modal Close Btn hover effect*/
.close-btn{
  transition: 0.5s;
  border: 1px solid#333;
}
.close-btn:hover{
  background: #333;
  color: #f1f3ff;
}

/* Trusted section */
.companys img{
  width: 150px;
}